Repository jwilger/event_modeler: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-check, mcp-server-lint, mcp-server-build, mcp-server-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

      - id: mcp-server-lint
        name: MCP Server lint
        entry: bash -c 'cd mcp-workflow-server && npm run lint'
        language: system
        files: ^mcp-workflow-server/.*\.ts$
        pass_filenames: false

      - id: mcp-server-build
        name: MCP Server build
        entry: bash -c 'cd mcp-workflow-server && npm run build'
        language: system
        files: ^mcp-workflow-server/.*\.ts$
        pass_filenames: false

      - id: mcp-server-test
        name: MCP Server test
        entry: bash -c 'cd mcp-workflow-server && npm test'
        language: system
        files: ^mcp-workflow-server/.*\.ts$
        pass_filenames: false

Add CI failure detection and prioritization to workflow tools
  .mcp-workflow.json
  mcp-workflow-server/src/tools/__tests__/workflow-status.test.ts
  mcp-workflow-server/src/tools/workflow-next.ts
  mcp-workflow-server/src/tools/workflow-status.ts
  mcp-workflow-server/src/types.ts
  mcp-workflow-server/src/utils/github.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

Add comprehensive tests for CI failure detection
  mcp-workflow-server/src/tools/__tests__/workflow-next.test.ts
  mcp-workflow-server/src/utils/__tests__/github.test.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

Fix test TypeScript errors - properly mock workflowMonitorReviews response
  mcp-workflow-server/src/tools/__tests__/workflow-next.test.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

Address Copilot review feedback on PR #127
  mcp-workflow-server/src/tools/__tests__/workflow-next.test.ts
  mcp-workflow-server/src/tools/__tests__/workflow-status.test.ts
  mcp-workflow-server/src/tools/workflow-next.ts
  mcp-workflow-server/src/tools/workflow-status.ts
  mcp-workflow-server/src/types.ts
  mcp-workflow-server/src/utils/__tests__/github.test.ts
  mcp-workflow-server/src/utils/github.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

Fix pre-commit hook issues with paginate implementation
  mcp-workflow-server/src/tools/__tests__/workflow-next.test.ts
  mcp-workflow-server/src/tools/__tests__/workflow-status.test.ts
  mcp-workflow-server/src/utils/__tests__/github.test.ts
  mcp-workflow-server/src/utils/github.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

MCP workflow server should detect CI build failures and prioritize them (#127)
  .mcp-workflow.json
  mcp-workflow-server/src/tools/__tests__/workflow-next.test.ts
  mcp-workflow-server/src/tools/__tests__/workflow-status.test.ts
  mcp-workflow-server/src/tools/workflow-next.ts
  mcp-workflow-server/src/tools/workflow-status.ts
  mcp-workflow-server/src/types.ts
  mcp-workflow-server/src/utils/__tests__/github.test.ts
  mcp-workflow-server/src/utils/github.ts
Due: mcp-server-lint, mcp-server-build, mcp-server-test

Implement View entity rendering in diagram module
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Fix clippy uninlined_format_args warnings
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Refactor view entity processing for better performance and maintainability
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Fix view entity rendering issues
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement dynamic slice widths to prevent entity overlap
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement proper text wrapping for entity names
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Remove View label and prioritize text wrapping over entity width
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Fix clippy uninlined_format_args warning
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Phase 6 Step 4: View Entities (#129)
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement command entity rendering with blue boxes
  .mcp-workflow.json
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Add rust-toolchain.toml for consistent Rust versions
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  rust-toolchain.toml
Due: none

Refactor to reduce code duplication in entity processing
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Phase 6 Step 5: Command Entities (#130)
  .github/workflows/ci.yml
  .mcp-workflow.json
  flake.lock
  flake.nix
  rust-toolchain.toml
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement event entity rendering with purple boxes
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Address code review feedback
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Phase 6 Step 6: Event Entities (#131)
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement projection entity rendering with yellow boxes
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Refactor entity box rendering to reduce code duplication
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Phase 6 Step 7: Projection Entities (#132)
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement query entity rendering in diagram module
  .mcp-workflow.json
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Address PR feedback from Copilot bot
  .mcp-workflow.json
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Diagram Step 8 Query Entities (#133)
  .mcp-workflow.json
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement automation entity rendering in diagram module
  .mcp-workflow.json
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Extract robot icon constants to module level
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Use friendlier gear emoji for automation icon
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Phase 6 Step 9: Automation Entities (#134)
  .mcp-workflow.json
  src/diagram/builder.rs
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Update CLAUDE.md with MCP workflow guidance and formatting fixes
  CLAUDE.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Update CLAUDE.md with MCP workflow guidance and formatting fixes (#140)
  CLAUDE.md
Due: none

Implement entity connection arrows in diagram rendering
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Improve arrow rendering with better routing and instance selection
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Implement intelligent arrow routing with collision detection
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Refine arrow routing and connection point calculations
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check

Integrate orthogonal routing algorithm for entity connections
  src/diagram/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-check
